In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
d = pd.read_csv("accidents_2017.csv")

In [3]:
d.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [4]:
list(d)

['Id',
 'District Name',
 'Neighborhood Name',
 'Street',
 'Weekday',
 'Month',
 'Day',
 'Hour',
 'Part of the day',
 'Mild injuries',
 'Serious injuries',
 'Victims',
 'Vehicles involved',
 'Longitude',
 'Latitude']

In [5]:
d1 = d['Weekday'].value_counts()
d1 = pd.DataFrame(d1)
#d1.columns = ['Weekdays', 'Percentage']
d1

           Weekday
Friday        1761
Tuesday       1691
Thursday      1677
Wednesday     1650
Monday        1510
Saturday      1155
Sunday         895

In [6]:
d1 = d1 / sum(d1['Weekday'])

In [7]:
d1

            Weekday
Friday     0.170326
Tuesday    0.163555
Thursday   0.162201
Wednesday  0.159590
Monday     0.146049
Saturday   0.111713
Sunday     0.086565

In [8]:
d1.sort_values( by ='Weekday')

            Weekday
Sunday     0.086565
Saturday   0.111713
Monday     0.146049
Wednesday  0.159590
Thursday   0.162201
Tuesday    0.163555
Friday     0.170326

In [9]:
d1 = d1 * 100
#Percentages are prettier to look at:)

In [10]:
d1

             Weekday
Friday     17.032595
Tuesday    16.355547
Thursday   16.220137
Wednesday  15.958990
Monday     14.604894
Saturday   11.171293
Sunday      8.656543

In [11]:
s = np.std(d1['Weekday'])

In [12]:
s

2.924294005636336

In [13]:
m = np.mean(d1['Weekday'])

In [14]:
d1 = d1 - m

In [15]:
d1

            Weekday
Friday     2.746881
Tuesday    2.069833
Thursday   1.934423
Wednesday  1.673276
Monday     0.319180
Saturday  -3.114421
Sunday    -5.629171

In [16]:
d1 = d1 / s

In [17]:
d1

            Weekday
Friday     0.939331
Tuesday    0.707806
Thursday   0.661501
Wednesday  0.572198
Monday     0.109148
Saturday  -1.065016
Sunday    -1.924968

# Inference

What we have done here is we checked how many standard deviations is our data above or below the mean. This clearly gives us some interesting insights:
1. Fridays record the most number of accidents. almost 0.95(STD) above the average accidents per weak.
2. Saturday, Sunday encounter the least. Sunday lower among the both. What might be the reason? No Jobs ? Not sure Sunday's also mean more amount of outings. But still, since weekends are seeing a sudden decline in number of accidents, it might mean due to no job goers.

Now let's look at the part of the day when accidents occur the most.

In [18]:
d.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [19]:
d2 = d.iloc[:,[4,8]]
d2.head()

    Weekday Part of the day
0    Friday         Morning
1    Friday         Morning
2    Friday       Afternoon
3    Friday           Night
4  Thursday       Afternoon

In [20]:
d3 = d2.loc[d2['Weekday'] == 'Friday']

In [21]:
d3.head()

   Weekday Part of the day
0   Friday         Morning
1   Friday         Morning
2   Friday       Afternoon
3   Friday           Night
12  Friday         Morning

In [22]:
pd.unique(d['Part of the day'])

array(['Morning', 'Afternoon', 'Night'], dtype=object)

So now we would look at how accidents occur on Fridays. Also we look at what time do they occur mostly

In [23]:
d4 = d3['Part of the day'].value_counts()

In [24]:
d4 = pd.DataFrame(d4)

In [25]:
d4

           Part of the day
Afternoon              884
Morning                707
Night                  170

In [26]:
d4 = d4 / sum(d4['Part of the day'])

In [27]:
d4 = d4 * 100

In [28]:
d4

           Part of the day
Afternoon        50.198751
Morning          40.147643
Night             9.653606

# Inference
So if we look closely, on Friday's (The most accident prone day) more than half of the accidents occur during afternoons. About 40% occur during Morning and very less at nights (as normally expected)

In [29]:
d5 = d.iloc[:, 8]

In [30]:
d5.head()

0      Morning
1      Morning
2    Afternoon
3        Night
4    Afternoon
Name: Part of the day, dtype: object

In [31]:
d5 = d5.value_counts()

In [32]:
d5 = pd.DataFrame(d5)

In [33]:
d5
ei = d5

In [34]:
d5 = d5 / sum(d5['Part of the day'])
d5 = d5 * 100

In [35]:
d5

           Part of the day
Afternoon        49.153690
Morning          39.336493
Night            11.509817

Proportion of accidents for entire week are similar to Friday data. Let's check for Monday

In [36]:
d6 = d2.loc[d2['Weekday'] == 'Tuesday']

In [37]:
d6 = d6['Part of the day'].value_counts()

In [38]:
d6 = pd.DataFrame(d6)
d6

           Part of the day
Afternoon              815
Morning                739
Night                  137

In [39]:
d6 = d6 / sum(d6['Part of the day'])
d6 = d6 * 100
d6

           Part of the day
Afternoon        48.196334
Morning          43.701952
Night             8.101715

Even on monday the distribution of accidents is similar [50 ,40, 10]

In [40]:
d.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

Until now we have seen how Accidents varied according to day of the week and part of the day. We concluded 
1. Friday Afternoons are the most accident prone times. 
2. We also saw the accident distribution over the part of days was almost [50, 40, 10] --> [Afternoon, Morning, Night].
3. Weekdays are safer, Sundays being the safest.

Now let's see how accidents vary over the month. For that we divide a month in 4 quarters and analyse them separately.

In [41]:
d7 = d.iloc[:, 6]
d7 = pd.DataFrame(d7)
d7.head()

   Day
0   13
1    1
2    8
3   21
4   25

In [42]:
w1 = d7.loc[d7['Day']<=7]
w2 = d7.loc[(d7['Day']>7) & (d7['Day']<=14)]
w3 = d7.loc[(d7['Day']>14) & (d7['Day']<=21)]
w4 = d7.loc[(d7['Day']>21) & (d7['Day']<=31)]
w1 = w1.describe()
w4.describe()

               Day
count  3143.000000
mean     26.318804
std       2.789140
min      22.000000
25%      24.000000
50%      26.000000
75%      29.000000
max      31.000000

In [43]:
w1 = 2342
w2 = 2346
w3 = 2508
w4 = 3143
w = w1 + w2 + w3 + w4

In [44]:
w1 = w1 / w
w1 = w1 * 100
w2 = w2 / w
w2 = w2 * 100
w3 = w3 / w
w3 = w3 * 100
w4 = w4 / w
w4 = w4 * 100

In [45]:
w1

22.652094012960635

In [46]:
w2

22.69078247412709

In [47]:
w3

24.257665151368606

In [48]:
w4

30.39945836154367

Looking at the results there is not much deviation of accidents in four weeks. However week 4 experiences a sudden increase in number of accidents.
So probabilistically, week 4 Friday Afternoons are the worst for accidents.

In [49]:
d.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [50]:
e1 = d.loc[d['Serious injuries']!=0]

In [51]:
e1.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
13,2017S007384,Sant Martí,el Camp de l'Arpa del Clot,Sant Antoni Maria Claret ...,Monday,September,4,16,Afternoon,0,1,1,2,2.176324,41.412546
21,2017S007805,Sant Martí,el Camp de l'Arpa del Clot,València / Independència ...,Wednesday,September,20,20,Afternoon,0,1,1,2,2.183407,41.407785
30,2017S007303,Sant Martí,el Camp de l'Arpa del Clot,València ...,Thursday,August,31,21,Afternoon,0,1,1,1,2.185811,41.409730
211,2017S004804,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Colom / Antonio López ...,Wednesday,May,31,22,Night,0,1,1,2,2.181974,41.381016
307,2017S009133,Eixample,Sant Antoni,Muntaner ...,Sunday,November,5,0,Night,0,1,1,1,2.162809,41.384192

In [52]:
e1 = e1.iloc[:, [1,3,4,6,7,8,10]]

In [53]:
e1.head()

,District Name,Street,Weekday,Day,Hour,Part of the day,Serious injuries
13,Sant Martí,Sant Antoni Maria Claret ...,Monday,4,16,Afternoon,1
21,Sant Martí,València / Independència ...,Wednesday,20,20,Afternoon,1
30,Sant Martí,València ...,Thursday,31,21,Afternoon,1
211,Ciutat Vella,Colom / Antonio López ...,Wednesday,31,22,Night,1
307,Eixample,Muntaner ...,Sunday,5,0,Night,1

In [54]:
e2 = e1['Part of the day'].value_counts()

In [55]:
type(e2)
eii = e2

In [56]:
e2 = pd.DataFrame(e2)
e2 = e2 / sum(e2['Part of the day'])
e2 = e2 * 100

In [57]:
e2

           Part of the day
Afternoon        50.224215
Morning          32.735426
Night            17.040359

## Distribution of Serious Injuries over Afternoons, Mornings and Nights

In [58]:
e2

           Part of the day
Afternoon        50.224215
Morning          32.735426
Night            17.040359

Now let us see how serious injuries per accidents varry over the parts of days

In [59]:
d5

           Part of the day
Afternoon        49.153690
Morning          39.336493
Night            11.509817

In [60]:
ei

           Part of the day
Afternoon             5082
Morning               4067
Night                 1190

In [61]:
eii = pd.DataFrame(eii)
eii

           Part of the day
Afternoon              112
Morning                 73
Night                   38

In [62]:
e1 = eii['Part of the day'] / ei['Part of the day']

In [63]:
e1 * 100

Afternoon    2.203857
Morning      1.794935
Night        3.193277
Name: Part of the day, dtype: float64

e1 shows what proportion of accidents occuring in a part of the day cause serious injuries.
1. 2.2% of accidents occuring during afternoons are serious and so on.
2. More proportion of accidents occuring at night cause serious injuries.
3. Mornings have less proportion of serious injusries. Maybe due to more attentive driving during mornings.

Now let's see what proportion of total accidents account for serious injuries.

In [64]:
ei

           Part of the day
Afternoon             5082
Morning               4067
Night                 1190

In [65]:
ei = sum(ei['Part of the day'])
ei

10339

In [66]:
eii

           Part of the day
Afternoon              112
Morning                 73
Night                   38

In [67]:
eii = eii['Part of the day'] / ei

In [68]:
eii = eii * 100

In [69]:
eii = pd.DataFrame(eii)
eii

           Part of the day
Afternoon         1.083277
Morning           0.706064
Night             0.367540

<img src = "source.jpg">

I always write down numbers when dealing with Simpson's Paradoxes. Yeah! Here is one. Just looking at the proportion of serious injuries we might conclude nights are safer as long as serious injuries are concerned. However are they really?

Looking at the secound column, we can see more proportion of total accidents occuring at night are serious. This is a paradox. Blindly looking at a single data reveals wrong results. 

Nights actually witness larger proportion of serious accidents off total accidents happening at night.